<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/parking.css') }}">
    </head>
    <title>
        Parking
    </title>
    <body>
        <div class="row">
            <div class="column">
                Slot 1 <br/>
                Available <br/>
                <img src="images/empty-slot.png">
                <img src="{{ url_for('static', filename='images/empty-slot.png') }}" alt="Empty Slot">
            </div>
            <div class="column">
                Slot 3 <br/>
                Available <br/>
                <img src="{{ url_for('static', filename='images/empty-slot.png') }}" alt="Empty Slot">
            </div>
            <div class="column">
                Slot 2 <br/>
                Available <br/>
                <img src="{{ url_for('static', filename='images/empty-slot.png') }}" alt="Empty Slot">
            </div>
            <div class="column">
                Slot 4 <br/>
                Occupied <br/>
                <img src="{{ url_for('static', filename='images/occupied-slot.png') }}" alt="Occupied">
            </div>
          </div> 
    </body>
</html>